body {
    margin: 0;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00796b;
    padding: 15px 30px;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.heading{
  color:#00796b;
  margin-top: 30px;
  margin-left: 50px;
  font-size: 2rem;
}
  
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;
  margin-top: 5px;
  margin-left: 40px;
  overflow: hidden;
}
  
.playlist-slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  gap: 20px;
  padding: 10px;
  width: 100%;
}
  
.playlist-slider::-webkit-scrollbar {
  display: none;
}
  
.playlist {
  display: inline-block;
  text-align: center;
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  flex-shrink: 0;
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.playlist p{
  color: white;
}
  
.playlist img {
  width: 100%;
  border-radius: 10px;
  height: 150px;
  object-fit: cover;
}
  
.music-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid #333;
}

a {
  text-decoration: none;
  color: inherit;
}

.playlist-inside{
  display: flex;
  gap: 10px;
}

.text-container{
  flex-direction: column;
}

.playlist-details {
  text-align: left;
  color: white;
}

.playlist-details img {
  margin-top: 0px;
  width: 300px;
  height: 300px;
}

.song-list {
  list-style: none;
  padding: 0;
}

.song-list li {
  padding: 10px;
  margin: 5px;
  flex: 5;
}

.song-list img {
  height: 50px;
  width: 50px;
}

.artist {
  padding: 10px;
  margin: 5px;
  flex: 10;
  text-align: right;
}

.song-list p {
  padding: 10px;
  margin: 5px;
  flex: 1;
  text-align: right;
}

.songs-individual{
  display: flex;
  background: #333;
  border-radius: 5px;
  margin: 5px;
}

.flashcard {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
}

.flashcard-content {
  position: relative;
  width: 300px;
}

.flashcard img {
  width: 100%;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}
